.profile__text{
    grid-area: text;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

}

@media screen and (max-width: 1124px) {
    .profile__text {
        justify-self:center;
    }
  }

@media screen and (max-width: 430px) {
    .profile__text {
        justify-self:center;
        font-size: 14px;
    }
  }