.elements__like {
    background: none;
    background-image: url(../../../images/like.jpg);
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
    cursor: pointer;
    border: none;
    transition: opacity .3s linear;
}

.elements__like:hover {
    opacity: 0.6;
}