.profile__info{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        "name edit-button"
        "text text";
    justify-items: flex-start;
    align-items: center;
    column-gap: 18px;
    row-gap: 16px;
}